@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'playfair display', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #E6E6FA ;
    color: #004040;
}

.navbar {
    background: #004040;
    margin-bottom: 10px;
    position: fixed;
    width: 700px;
    }

.navbara {
    color: #85c0c4;
}

.navbar ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    width: 100%;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
}

.navbar ul li:hover {
    background: #12666652;
}

.navbar ul li:last-child {
margin-right: 0px;
}

.info {
    padding-top: 50px;
}

.info-text p {
    font-style: italic;
    font-size: 18px;
    color: #002020;
}

.info-text h1 {
    font-size: 28px;
    color: #002020;
    text-decoration: underline;
}

.card1 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    background: #DCDCDC;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    height: 305px;
    text-align: center;
}

.card1 p {
    padding-top: 15px;
}

.card1:hover {
    background-color: #E0FFFF;
}

.links {
    padding-bottom: 15px;
}

.Telegram {
    padding-right: 10px;
}

a {
    color: #004040;
    text-decoration: none;
}

a:hover {
    color: #178f97;
}

a:visited {
    color: rgb(141, 11, 180);
}

a:active {
    color: aqua;
}

.info {
    display: flex;
}

.info img {
    height: 305px;
    margin: 20px 40px 0 0;
}

.card2 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #DCDCDC;
    margin-bottom: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card2:hover {
    background-color: #E0FFFF;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.card3 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    background: #DCDCDC;
    margin-bottom: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card3:hover {
    background-color: #E0FFFF;
}

.table {
    width: 100%;
}

.table thead:nth-child(1) {
    background: #85c0c4;
}

.card4 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #DCDCDC;
    margin-bottom: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card4:hover {
    background-color: #E0FFFF;
}

textarea {
    background:#E0FFFF ;
}

input {
    background:#E0FFFF ;
}

.btn {
    background:#8FBC8F ;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}

.container {
    max-width: 700px;
    margin: auto;
}

img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.form h3 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}


.form-group label {
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #778899;
    color: #002020;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.textarea {
    margin-right: 20px;
}

@media (max-width: 650px) {
    .container {
        font-size: 10px;
    }

    .info-text p {
        font-style: italic;
        font-size: 10px;
        color: #002020;
    }
    
    .info-text h1 {
        font-size: 15px;
        color: #002020;
        text-decoration: underline;
    }
}