@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'playfair display', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #E6E6FA ;
    color: #004040;
    }

.info-text p {
    font-style: italic;
    font-size: 18px;
    color: #002020;
}

.info-text h1 {
    font-size: 28px;
    color: #002020;
    text-decoration: underline;
}

.card1 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #DCDCDC;
    margin-top: 20px;
}

.links {
    padding-bottom: 15px;
}

.card2 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #DCDCDC;
    margin-bottom: 20px;
}

.card3 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: #DCDCDC;
}

.card4 {
    border: 2px solid #778899;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #DCDCDC;
}



textarea {
    background:#E0FFFF ;
}

input {
    background:#E0FFFF ;
}

button {
    background:#E0FFFF ;
    margin-bottom: 10px;
}

.container {
    max-width: 700px;
    margin: auto;
}

img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}